<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Anasayfa</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addproduct">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Ürün Ekle</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/urunlistele">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Ürün Düzenle</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/documentation/documentation.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Ürün Sil</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/documentation/documentation.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>